<launch>
    <node name="state_image_writer" pkg="sniper_cam" type="state_image_writer.py"></node>
    <node name="state_image_stamper" pkg="sniper_cam" type="image_stamper.py">
        <param name="frame_rate_in" value="1"/>
    </node>
    <node name="uncompress" pkg="image_transport" type="republish" args="compressed in:=image_raw_compressed/ raw out:=image_raw"></node>
</launch>
